/* fixme: rename choose_slider_items to animated-slider or something */

.choose_slider_items li {
    position: relative;
    list-style: none;
    display: none;
    text-align: center;

    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.choose_slider_items .previous_hidden {
    display: block;
    transform: scale(0.6, 0.6);
    -moz-transform: scale(0.6, 0.6);
    -ms-transform: scale(0.6, 0.6);
    -webkit-transform: scale(0.6, 0.6);
    opacity: 0.0;
    position: absolute;
    top: 40px;
    left: -5px;
    z-index: 0;
}

.choose_slider_items .next_hidden {
    display: block;
    transform: scale(0.6, 0.6);
    -moz-transform: scale(0.6, 0.6);
    -ms-transform: scale(0.6, 0.6);
    -webkit-transform: scale(0.6, 0.6);
    opacity: 0.0;
    position: absolute;
    top: 40px;
    left: 525px;
    z-index: 0;
}

.choose_slider_items .previous_item {
    display: block;
    transform: scale(0.8, 0.8);
    -moz-transform: scale(0.8, 0.8);
    -ms-transform: scale(0.8, 0.8);
    -webkit-transform: scale(0.8, 0.8);
    opacity: 0.65;
    position: absolute;
    top: 40px;
    left: 95px;
    z-index: 0;
}

.choose_slider_items .next_item {
    display: block;
    transform: scale(0.8, 0.8);
    -moz-transform: scale(0.8, 0.8);
    -ms-transform: scale(0.8, 0.8);
    -webkit-transform: scale(0.8, 0.8);
    opacity: 0.65;
    position: absolute;
    top: 40px;
    left: 431px;
    z-index: 0;
}


.choose_slider_items .previous_item_2 {
    display: block;
    transform: scale(0.6, 0.6);
    -moz-transform: scale(0.6, 0.6);
    -ms-transform: scale(0.6, 0.6);
    -webkit-transform: scale(0.6, 0.6);
    opacity: 0.35;
    position: absolute;
    top: 40px;
    left: -5px;
    z-index: 0;
}

.choose_slider_items .next_item_2 {
    display: block;
    transform: scale(0.6, 0.6);
    -moz-transform: scale(0.6, 0.6);
    -ms-transform: scale(0.6, 0.6);
    -webkit-transform: scale(0.6, 0.6);
    opacity: 0.35;
    position: absolute;
    top: 40px;
    left: 525px;
    z-index: 0;
}


.choose_slider_items .current_item {
    display: block;
    position: absolute;
    transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    top: 0;
    left: 262px;
    z-index: 100;
}

/* cutome css  DigitalCableTV star here */

.choose_slider_items {
    max-width: 1000px;
    margin: 0 auto;
    height: 350px;
    position: relative;
}


ul#mySlider1 {
    position: relative;
    height: 100%;
    width: 100%;
    padding-left: 0;
}


.tv-frame-li {
    height: 100%;
    background: url(../images/tv-frame.png) no-repeat center top / 65% auto;
    position: relative;
}

.choose_slider_items .current_item {
    left: 22%;
    width: 56%;
    top: 8px;
}

.choose_slider_items .previous_hidden,
.choose_slider_items .previous_item,
.choose_slider_items .next_item,
.choose_slider_items .next_hidden {
    top: 0;
    width: 50%;
}

.choose_slider_items .previous_item {
    left: 0;
    max-width: 50%;
    opacity: 1;
}

.choose_slider_items .next_item {
    left: 50%;
    width: 50%;
    opacity: 1;
}

.choose_slider_items .next_hidden {
    left: 0;
    width: 50%;
}

.choose_slider_items .previous_hidden {
    width: 50%;
}

.choose_slider_items .controls {
    color: red;
    position: absolute;
    z-index: 9999;
    top: 8%;
    width: 89%;
    margin: 0 auto;
    right: 0;
    left: 0;
    height: 65%;
    display: flex;
    justify-content: space-between;
}

.choose_slider_items .controls #btn_next1,
.choose_slider_items .controls #btn_prev1 {
    display: block;
    width: 18%;
    opacity: 0;
}

/* cutome css  DigitalCableTV end here */


@media screen and (max-width:991px) {
    .choose_slider_items {
        height: 300px;
    }

    .choose_slider_items .current_item {
        top: 2px;
    }
}

@media screen and (max-width:767px) {
    .choose_slider_items {
        height: 250px;
    }

}

@media screen and (max-width:575px) {
    .choose_slider_items {
        height: 177px;
    }
}

@media screen and (max-width:360px) {
    .choose_slider_items {
        height: 117px;
    }
}
